<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ announcement.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <img src="{{ announcement.image.url }}" alt="Изображение объявления">

</head>
<body>
    <div class="container">
        <h1>{{ announcement.title }}</h1>
        <p>{{ announcement.content }}</p>
        <p>Категория: {{ announcement.category }}</p>
        
        {% if user == announcement.author %}
        <h2>Редактировать объявление</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
        {% endif %}
        
        <a href="{% url 'announcement-list' %}" class="btn btn-secondary">Назад к списку</a>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
